spring.application.name=pokedex
logging.level.com.fasterxml.jackson=DEBUG
logging.level.org.flyway=DEBUG
logging.level.org.springframework.web=DEBUG
spring.codec.max-in-memory-size=2MB
spring.datasource.url=jdbc:postgresql://localhost:5432/{database_name}
spring.datasource.username={db username}
spring.datasource.password={db password}
spring.datasource.hikari.connection-timeout=30000
spring.datasource.hikari.max-lifetime=180000
spring.datasource.hikari.maximum-pool-size=5
spring.datasource.driver-class-name=org.postgresql.Driver
spring.docker.compose.enabled=false
spring.flyway.enabled=true
spring.flyway.repair=true
spring.flyway.url=jdbc:postgresql://localhost:5432/{database_name}
spring.flyway.user={db username}
spring.flyway.password={db password}
spring.jpa.generate-ddl=true
spring.jpa.show-sql=true